@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* .btn:hover{
        @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-800 hover: ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md;
    }

    .link:hover {
        @apply hover:underline cursor-pointer
    } */
    .btn{
        @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 focus:outline-none active:ring-gray-300 hover:shadow-md;
    }
    .link{
         @apply hover:underline cursor-pointer;
    }

    .card {
        background-color: #1C1F26;

        min-width: 16rem;
        max-width: 20rem;
        height: 22.5rem;



    }

    .card-layout {
        background-color: #1E1217;
        min-height: 100vh;
    }
}